In [62]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [63]:
html = requests.get("https://ny.milesplit.com/meets/563514/results")
soup = BeautifulSoup(html.content, 'html.parser')

fileList = soup.find('ul', id='resultFileList')
file_list = fileList.find_all('a')

link1_list = []
for race in file_list:
    link = race.get('href')
    link1_list.append(link)

link_list =[]
for link in link1_list:
    link2 = link.replace('formatted', 'raw')
    link_list.append(link2)

link_list

['https://ny.milesplit.com/meets/563514-nysphsaa-new-york-state-championships-2023/results/989365/raw/',
 'https://ny.milesplit.com/meets/563514-nysphsaa-new-york-state-championships-2023/results/989366/raw/',
 'https://ny.milesplit.com/meets/563514-nysphsaa-new-york-state-championships-2023/results/989367/raw/',
 'https://ny.milesplit.com/meets/563514-nysphsaa-new-york-state-championships-2023/results/989368/raw/',
 'https://ny.milesplit.com/meets/563514-nysphsaa-new-york-state-championships-2023/results/989369/raw/',
 'https://ny.milesplit.com/meets/563514-nysphsaa-new-york-state-championships-2023/results/989370/raw/',
 'https://ny.milesplit.com/meets/563514-nysphsaa-new-york-state-championships-2023/results/989371/raw/',
 'https://ny.milesplit.com/meets/563514-nysphsaa-new-york-state-championships-2023/results/989372/raw/']

In [83]:
# for link in link_list:
    
#     site = requests.get(link)
#     soupy = BeautifulSoup(site.content, 'html.parser')
#     results = soupy.find('table', class_='eventTable')

#     places = [place.text for place in results.find_all('td', class_='place')]
#     names = [name.text for name in results.find_all('td', class_='athlete').find('a')]
#     grades = [grade.text for grade in results.find_all('td', class_='grade')]
#     teams = [team.text for team in results.find_all('td', class_='team').find('a')]
#     times = [time.text for time in results.find_all('td', class_='finish')]

site = requests.get('https://ny.milesplit.com/meets/563514-nysphsaa-new-york-state-championships-2023/results/989369/raw/')
soupy = BeautifulSoup(site.content, 'html.parser')
results = soupy.find('div', id='meetResultsBody')
results_text = results.find('pre').text
justRunners = results_text.replace('-', '').replace('PLACE', '').replace('PTS', '').replace('GRADE', '').replace('SCHOOL', '').replace('TIME','').replace('PACE','').replace('NAME','').replace('  ','##').replace(' ','').replace('##',' ')
splittedRunners = justRunners.split('\r\n')

splRun_list = []
for runner in splittedRunners:
    splRun_list.append(runner)

splRun_listList = []
for runner in splRun_list:
    temp = runner.split(' ')
    splRun_listList.append(temp)

# removes empty and space strings to make all sublists to have the same amount of elements
for i in range(len(splRun_listList)):
    j=0
    while j < len(splRun_listList[i]):
        # print(i, j)
        element = splRun_listList[i][j]
        if element == '':
            splRun_listList[i].remove(element)
        elif element == ' ':
            splRun_listList[i].remove(element)
        else:
            j=j+1

# remove empty lists & title
splRun_listList = splRun_listList[1:]
splRun_listList = [notempty for notempty in splRun_listList if notempty]

#remove random 4th col number
for i in range(len(splRun_listList)):
    if splRun_listList[i][3] in ['1', '2', '3', '4', '5', '6', '7', '8', '9']:
        del splRun_listList[i][3]

splRun_list

['GIRLSCLASSA5k',
 '',
 '                         ',
 '',
 '  1  1EmilyBush       SR 1 SaratogaSprings     17:34.3 5:40',
 '  2   ZarielMacchia     JR 1 WilliamFloyd      17:44.3 5:43',
 '  3   TsadiaBercuvitz    FR 1 Ithaca          18:30.8 5:58',
 '  4  2AlyciaHart      SR 2 SaratogaSprings     18:35.1 5:59',
 '  5   AddisonVellekoop   SO 1 Guilderland       18:36.7 6:00',
 '  6   LillieBogdan     JR 2 Frontier         18:44.5 6:02',
 '  7  3AnyaBelisle      SR 3 SaratogaSprings     18:47.8 6:03',
 '  8   HaylieSmith      JR 3 RushHenrietta      18:54.9 6:06',
 '  9   EllaMasem       JR 4 Bellport         18:55.8 6:06',
 ' 10   LoganKuhn       SO 2 Bethlehem        18:59.0 6:07',
 ' 11  4MiaWickard      FR 2 Northport        19:00.3 6:07',
 ' 12   KatherineBannigan   JR 5 Bethlehem        19:01.2 6:08',
 ' 13  5AlexaBriggs      SR 4 ChurchvilleChili    19:02.9 6:08',
 ' 14   ZariaHall       SO 3 EastMeadow       19:07.1 6:10',
 ' 15   AbbyKowalczyk     JR 6 RoyCKetcham      19:09.2 6:10',
 ' 16   ShaylenGoslar     SR 5 PineBush        19:10.5 6:11',
 ' 17  6SarahLawson      SR 6 Corning         19:11.6 6:11',
 ' 18   IsabellaSpagnoli   JR 7 GreatNeckSouth     19:16.1 6:13',
 ' 19   TaylorPage      JR 8 Liverpool        19:18.7 6:13',
 ' 20   AmandaProbst     SR 7 WardMelville      19:19.8 6:14',
 ' 21   AudreyGleghorn    FR 3 RushHenrietta      19:21.5 6:14',
 ' 22   HannahDevine     JR 9 Brighton         19:21.6 6:14',
 ' 23   OliviaDiGaetano    SO 4 Connetquout       19:23.8 6:15',
 ' 24  7KatieTurner      JR10 SaratogaSprings     19:26.5 6:16',
 ' 25   AubreySmith      JR11 Irondequoit       19:29.7 6:17',
 ' 26   LeylaBhusri      SO 5 Shenendehowa       19:31.0 6:17',
 ' 27   GabyCastro      SO 6 NorthRockland      19:32.0 6:18',
 ' 28  8MariaKhalifeh     SR 8 FayettevilleManlius   19:32.7 6:18',
 ' 29   TessMcnamara      8 1 Bethlehem        19:34.1 6:18',
 ' 30   KamrynBarton     SO 7 Baldwinsville      19:36.0 6:19',
 ' 31  9FionaKing       7 1 Northport        19:38.7 6:20',
 ' 32   KaitlynHotaling    JR12 Liverpool        19:41.4 6:21',
 ' 33 10OliviaHeim      FR 4 MonroeWoodbury     19:42.2 6:21',
 ' 34   AshleyCarillo     JR13 PortWashington     19:42.7 6:21',
 ' 35 11TongAng        FR 5 SaratogaSprings     19:44.1 6:22',
 ' 36 12HannahKhuns      FR 6 ChurchvilleChili    19:44.7 6:22',
 ' 37   MaryAlicePineau   JR14 Auburn          19:46.9 6:23',
 ' 38 13NoelBarlette     SR 9 OrchardPark       19:48.5 6:23',
 ' 39 14CoraConley      FR 7 SaratogaSprings     19:49.5 6:23',
 ' 40   AriReback       SR10 Fairport         19:51.4 6:24',
 ' 41   KylieDavis      JR15 WilliamsvilleNorth   19:52.4 6:24',
 ' 42 15CamilleRyan      SO 8 FayettevilleManlius   19:54.2 6:25',
 ' 43   KennedyJones      8 2 CiceroNorthSyracuse  19:56.6 6:26',
 ' 44   MadisonCole      SR11 Comsewogue        19:59.7 6:27',
 ' 45 16BaileyGuckian     8 3 Arlington        20:03.6 6:28',
 ' 46   AlexisJones      JR16 Washingtonville     20:05.6 6:29',
 ' 47 17ReaganOwen       8 4 SaratogaSprings     20:05.7 6:29',
 ' 48 18JaneTucker       7 2 Northport        20:06.9 6:29',
 ' 49 19LilyPost       FR 8 MonroeWoodbury     20:07.8 6:29',
 ' 50 20AnnabelleCzekanski  JR17 OrchardPark       20:12.6 6:31',
 ' 51 21IsabelPool      FR 9 Arlington        20:14.6 6:31',
 ' 52   JulianneGabrielle   8 5 PineBush        20:16.1 6:32',
 ' 53 22AvaBeecher      SR12 FayettevilleManlius   20:17.5 6:32',
 ' 54 23MaggieTaylor     JR18 Northport        20:21.0 6:33',
 ' 55   AlyssaDovico     JR19 WarwickValley      20:23.1 6:34',
 ' 56 24LilyBenza       JR20 MonroeWoodbury     20:24.7 6:35',
 ' 57 25AnnaKern       SR13 MonroeWoodbury     20:25.3 6:35',
 ' 58 26KaylaForsch      SO 9 Northport        20:25.7 6:35',
 ' 59 27ClaireMcDonald    SO10 FayettevilleManlius   20:26.9 6:35',
 ' 60 28AubreySudol      SO11 ChurchvilleChili    20:27.8 6:36',
 ' 61 29IzzieSullivan     JR21 FayettevilleManlius   20:29.5 6:36',
 ' 62   LilyDay        JR22 Lakeland/Panas      20:30.6 6:37',
 ' 63   RachelRakower     SO12 Scarsdale        20:35.4 6:38',
 ' 64   LondonHamilton    FR10 Jamestown        20:35.9 6:38',
 ' 65   AveryWhittaker     8 6 Ithaca          20:37.4 6:39',
 ' 66   MeliaKupchanko    SO13 WilliamsvilleNorth   20:38.5 6:39',
 ' 67   EmilyPriset      SO14 Clarence         20:40.3 6:40',
 ' 68 30EllaGrinnell     SR14 Corning         20:42.9 6:41',
 ' 69   MackenzieBaker    SO15 Horseheads        20:43.8 6:41',
 ' 70 31JordanGiannetti    FR11 FayettevilleManlius   20:44.6 6:41',
 ' 71   EveSiffScherr    SR15 PortWashington     20:45.1 6:41',
 ' 72 32MollyPool       FR12 Arlington        20:46.1 6:42',
 ' 73 33RinFurukawa      SO16 Syosset         20:47.6 6:42',
 ' 74   HazelLewis      FR13 Kingston         20:48.2 6:42',
 ' 75 34ArianaSadrarhami   FR14 Syosset         20:49.3 6:43',
 ' 76 35AlexisSanelli     SO17 OrchardPark       20:51.7 6:43',
 ' 77 36KirstenAnastasio   SO18 Arlington        20:53.1 6:44',
 ' 78 37BaileyLaGuardia   SR16 Arlington        20:54.8 6:44',
 ' 79   GraceDelaney      7 3 Suffern         21:01.0 6:46',
 ' 80 38MadelynSichak     SR17 ChurchvilleChili    21:05.6 6:48',
 ' 81 39MollyFoley      SR18 MonroeWoodbury     21:10.1 6:49',
 ' 82 40MichaelaGoettel    JR23 ChurchvilleChili    21:12.7 6:50',
 ' 83 41SamanthaMessore    FR15 OrchardPark       21:13.1 6:50',
 ' 84 42AshleyWong      JR24 Syosset         21:13.2 6:50',
 ' 85 43MeghanMcLaughlin   SR19 Corning         21:14.2 6:51',
 ' 86 44EmilyWickard     SR20 Northport        21:14.8 6:51',
 ' 87 45FaithTubbs      SR21 Corning         21:15.7 6:51',
 ' 88 46LaurenRoche      JR25 Corning         21:18.6 6:52',
 ' 89   EllaDevlin      FR16 Elmira          21:26.0 6:54',
 ' 90 47OliviaMurch      SR22 Corning         21:29.6 6:56',
 ' 91 48GiannaLavacca     FR17 Syosset         21:34.1 6:57',
 ' 92 49EllaPerryman     JR26 OrchardPark       21:38.6 6:58',
 ' 93 50SadieBeres      SR23 Corning         21:43.5 7:00',
 ' 94 51MariaMullen      JR27 ChurchvilleChili    21:53.3 7:03',
 ' 95 52MelissaTanyeri    JR28 Syosset         21:54.4 7:04',
 " 96 53KateO'Connell     SO19 Arlington        21:54.5 7:04",
 ' 97   MarenGolden      FR18 Ithaca          21:59.1 7:05',
 ' 98 54KaylaPostolowski   SR24 MonroeWoodbury     22:01.6 7:06',
 ' 99 55CateCoronato     JR29 Northport        22:03.0 7:06',
 ' 100 56AlysonKenworthy    8 7 MonroeWoodbury     22:04.4 7:07',
 ' 101 57IsabellaSollecito   JR30 OrchardPark       22:04.7 7:07',
 ' 102 58JulianaRaigosa    SO20 Syosset         22:08.5 7:08',
 ' 103 59CamilaTorres     SR25 Arlington        22:09.0 7:08',
 ' 104 60AliceWierer      SO21 OrchardPark       22:18.8 7:11',
 ' 105 61CharlotteKnutsen   SR26 FayettevilleManlius   22:28.1 7:14',
 ' 106 62GiannaAffatato    SO22 Syosset         22:28.3 7:14',
 ' 107 63GabrielleToates    SR27 ChurchvilleChili    22:41.1 7:19']

In [84]:
places = []
names = []
grades = []
teams = []
times = []

for list in splRun_listList:
    places.append(list[0])
    names.append(list[1])
    grades.append(list[2])
    teams.append(list[3])
    times.append(list[4])

#final cleaning
i=0
for name in names:
    for char in name:
        if char.isdigit() == True:
            rep = names[i].replace(char, '')
            names[i] = rep
    i=i+1
j=0
for grade in grades:
    for char in grade:
        if char.isdigit() == True:
            rep = grades[j].replace(char, '')
            grades[j] = rep
    j=j+1

#turn to df
results_df = pd.DataFrame({'PLACE': places, 'NAME': names, 'GRADE': grades, 'TEAM': teams, 'TIME': times})

results_df

    PLACE              NAME GRADE                 TEAM     TIME
0       1         EmilyBush    SR      SaratogaSprings  17:34.3
1       2     ZarielMacchia    JR         WilliamFloyd  17:44.3
2       3   TsadiaBercuvitz    FR               Ithaca  18:30.8
3       4        AlyciaHart    SR      SaratogaSprings  18:35.1
4       5  AddisonVellekoop    SO          Guilderland  18:36.7
..    ...               ...   ...                  ...      ...
102   103      CamilaTorres    SR            Arlington  22:09.0
103   104       AliceWierer    SO          OrchardPark  22:18.8
104   105  CharlotteKnutsen    SR  FayettevilleManlius  22:28.1
105   106    GiannaAffatato    SO              Syosset  22:28.3
106   107   GabrielleToates    SR     ChurchvilleChili  22:41.1

[107 rows x 5 columns]